{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .custom-slideshow-{{ section.id }} {
      align-items: center;
      justify-content: center;
    }
    .custom-slideshow-{{ section.id }} .slideshow.banner {
      width: 50%;
      height: 50%;
    }
    #Slider-{{ section.id }} .slider__slide {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
      @media screen and (max-width: 767px) {
        #Slider-{{ section.id }}::before,
        #Slider-{{ section.id }} .media::before,
        #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }

      @media screen and (min-width: 768px) {
        #Slider-{{ section.id }}::before,
        #Slider-{{ section.id }} .media::before {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
  {%- endif -%}
{%- endstyle -%}

{%- liquid
  if section.settings.image_layout contains 'right'
    assign odd_class = ' image-with-text__grid--reverse'
  else
    assign even_class = ' image-with-text__grid--reverse'
  endif

  if section.settings.row_color_scheme == section.settings.section_color_scheme
    assign no_content_background = true
  endif

  if settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0
    assign no_content_styles = true
  endif

  if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0
    assign borders_class = ' collapse-borders'
  endif

  if no_content_background and no_content_styles
    assign padding_class = ' collapse-padding'
  endif

  unless no_content_background and no_content_styles
    assign corners_class = ' collapse-corners'
  endunless
-%}

{% assign selected_images = '' %}

{% for block in section.blocks %}
  {% if block.type == 'row' %}
    {% if block.settings['image-1'] %}
      {% assign selected_images = selected_images | append: block.settings['image-1'] | append: ',' %}
    {% endif %}
    {% if block.settings['image-2'] %}
      {% assign selected_images = selected_images | append: block.settings['image-2'] | append: ',' %}
    {% endif %}
    {% if block.settings['image-3'] %}
      {% assign selected_images = selected_images | append: block.settings['image-3'] | append: ',' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign selected_images_array = selected_images | split: ',' %}
{% assign selected_images_array = selected_images_array | uniq %}

<div class="multirow section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="multirow__inner page-width">
    {%- for block in section.blocks -%}
      <div
        class="image-with-text isolate{{ borders_class }}{{ corners_class }}{{ padding_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {{ block.shopify_attributes }}
      >
        <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.image_layout contains 'alternate' %}{% cycle odd_class, even_class %}{% else %}{{ odd_class }}{% endif %}">
          <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
            <div
              class="image-with-text__media image-with-text__media--{{ section.settings.image_height }} gradient color-{{ section.settings.row_color_scheme }} global-media-settings{% if block.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
              {% if section.settings.image_height == 'adapt' and block.settings.image != blank %}
                style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {%- if block.settings.image != blank -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 768px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  block.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
          <div class="image-with-text__text-item grid__item">
            <slideshow-component
              class="custom-slideshow-{{ section.id }} slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}"
              role="region"
              aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
              aria-label="{{ section.settings.accessibility_info | escape }}"
            >
              {%- if selected_images_array.size > 1 -%}
                <div class="slideshow__controls slideshow__controls--top slider-buttons{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
                  <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>
                  <div class="slider-counter slider-counter--{{ block.settings.slider_visual }}{% if block.settings.slider_visual == 'counter' or block.settings.slider_visual == 'numbers' %} caption{% endif %}">
                    {%- if block.settings.slider_visual == 'counter' -%}
                      <span class="slider-counter--current">1</span>
                      <span aria-hidden="true"> / </span>
                      <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                      <span class="slider-counter--total">{{ selected_images_array.size }}</span>
                    {%- else -%}
                      <div class="slideshow__control-wrapper">
                        {%- for image_selected in selected_images_array -%}
                          <button
                            class="slider-counter__link slider-counter__link--{{ block.settings.slider_visual }} link"
                            aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                            aria-controls="Slider-{{ section.id }}"
                          >
                            {%- if block.settings.slider_visual == 'numbers' -%}
                              {{ forloop.index -}}
                            {%- else -%}
                              <span class="dot"></span>
                            {%- endif -%}
                          </button>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                  <button
                    type="button"
                    class="slider-button slider-button--next"
                    name="next"
                    aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>

                  {%- if section.settings.auto_rotate -%}
                    <button
                      type="button"
                      class="slideshow__autoplay slider-button{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
                      aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
                    >
                      {%- render 'icon-pause' -%}
                      {%- render 'icon-play' -%}
                    </button>
                  {%- endif -%}
                </div>
              {%- endif -%}

              <div
                class="slideshow banner banner--medium grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if selected_images_array.first == blank %} slideshow--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                id="Slider-{{ section.id }}"
                aria-live="polite"
                aria-atomic="true"
                data-autoplay="false"
                data-speed="5"
              >
                {%- for image_selected in selected_images_array -%}
                  <div
                    class="slideshow__slide grid__item grid--1-col slider__slide"
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    {{ block.shopify_attributes }}
                    role="group"
                    aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                    aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    tabindex="-1"
                  >
                    {%- assign image_setting = 'image-' | append: forloop.index -%}
                    <div class="slideshow__media banner__media media{% if block.settings[image_setting] == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
                      {%- if block.settings[image_setting] != blank -%}
                        {%- liquid
                          assign height = block.settings[image_setting].width | divided_by: block.settings[image_setting].aspect_ratio | round
                          if section.settings.image_behavior == 'ambient'
                            assign sizes = '120vw'
                            assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                          else
                            assign sizes = '100vw'
                            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                          endif
                          assign fetch_priority = 'auto'
                          if section.index == 1
                            assign fetch_priority = 'high'
                          endif
                        -%}
                        {%- if forloop.first %}
                          {{
                            block.settings[image_setting]
                            | image_url: width: 3840
                            | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                          }}
                        {%- else -%}
                          {{
                            block.settings[image_setting]
                            | image_url: width: 3840
                            | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                          }}
                        {%- endif -%}
                      {%- else -%}
                        {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                        {%- if placeholder_slide == 1 -%}
                          {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- else -%}
                          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  </div>
                {%- endfor -%}
              </div>

              {%- if selected_images_array.size > 1 and section.settings.auto_rotate == false -%}
                <div class="slideshow__controls slider-buttons{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
                  <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>
                  <div class="slider-counter slider-counter--{{ block.settings.slider_visual }}{% if block.settings.slider_visual == 'counter' or block.settings.slider_visual == 'numbers' %} caption{% endif %}">
                    {%- if block.settings.slider_visual == 'counter' -%}
                      <span class="slider-counter--current">1</span>
                      <span aria-hidden="true"> / </span>
                      <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                      <span class="slider-counter--total">{{ selected_images_array.size }}</span>
                    {%- else -%}
                      <div class="slideshow__control-wrapper">
                        {%- for image_selected in selected_images_array -%}
                          <button
                            class="slider-counter__link slider-counter__link--{{ block.settings.slider_visual }} link"
                            aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                            aria-controls="Slider-{{ section.id }}"
                          >
                            {%- if block.settings.slider_visual == 'numbers' -%}
                              {{ forloop.index -}}
                            {%- else -%}
                              <span class="dot"></span>
                            {%- endif -%}
                          </button>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                  <button
                    type="button"
                    class="slider-button slider-button--next"
                    name="next"
                    aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>

                  {%- if section.settings.auto_rotate -%}
                    <button
                      type="button"
                      class="slideshow__autoplay slider-button{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
                      aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
                    >
                      {%- render 'icon-pause' -%}
                      {%- render 'icon-play' -%}
                    </button>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </slideshow-component>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Custom Section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multirow.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.multirow.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.multirow.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.desktop_image_width.label",
      "info": "t:sections.multirow.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.multirow.settings.text_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.multirow.settings.text_style.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.multirow.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.multirow.settings.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multirow.settings.button_style.options__2.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.multirow.settings.button_style.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.multirow.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.multirow.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.multirow.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.multirow.settings.desktop_content_position.label",
      "info": "t:sections.multirow.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "image_layout",
      "options": [
        {
          "value": "alternate-left",
          "label": "t:sections.multirow.settings.image_layout.options__1.label"
        },
        {
          "value": "alternate-right",
          "label": "t:sections.multirow.settings.image_layout.options__2.label"
        },
        {
          "value": "align-left",
          "label": "t:sections.multirow.settings.image_layout.options__3.label"
        },
        {
          "value": "align-right",
          "label": "t:sections.multirow.settings.image_layout.options__4.label"
        }
      ],
      "default": "alternate-left",
      "label": "t:sections.multirow.settings.image_layout.label",
      "info": "t:sections.multirow.settings.image_layout.info"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "row_color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.multirow.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "t:sections.multirow.blocks.row.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.multirow.blocks.row.settings.caption.default",
          "label": "t:sections.multirow.blocks.row.settings.caption.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.multirow.blocks.row.settings.heading.default",
          "label": "t:sections.multirow.blocks.row.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multirow.blocks.row.settings.text.default",
          "label": "t:sections.multirow.blocks.row.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.multirow.blocks.row.settings.button_label.default",
          "label": "t:sections.multirow.blocks.row.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multirow.blocks.row.settings.button_link.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.name"
        },
        {
          "type": "select",
          "id": "slider_visual",
          "options": [
            {
              "value": "dots",
              "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
            },
            {
              "value": "counter",
              "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
            },
            {
              "value": "numbers",
              "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
            }
          ],
          "default": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.label"
        },
        {
          "type": "image_picker",
          "id": "image-1",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image-2",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image-3",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
}
{% endschema %}
