
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-528707562887971793.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-528707562887971793.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-528707562887971793.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-528707562887971793.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-528707562887971793.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-528707562887971793.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-528707562887971793.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-528707562887971793.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-528707562887971793.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-528707562887971793.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-528707562887971793.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-528707562887971793.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-528707562887971793.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-528707562887971793.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-528707562887971793.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-528707562887971793.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-528707562887971793.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-528707562887971793.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-528707562887971793.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-528707562887971793.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-528707562887971793.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-528707562887971793.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-528707562887971793.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-528707562887971793.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-528707562887971793.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-528707562887971793.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-528707562887971793.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-528707562887971793.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-528707562887971793.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-528707562887971793.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-528707562887971793.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-528707562887971793.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-528707562887971793.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-528707562887971793.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-528707562887971793.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-528707562887971793.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-528707562887971793.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-528707562887971793.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-528707562887971793.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-528707562887971793.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-528707562887971793.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-528707562887971793.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-528707562887971793.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-528707562887971793.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-528707562887971793.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-528707562887971793.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-528707562887971793.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-528707562887971793.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-528707562887971793.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-528707562887971793.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-528707562887971793.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-528707562887971793.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-528707562887971793.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-528707562887971793.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-528707562887971793.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-528707562887971793.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-528707562887971793.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-528707562887971793.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-528707562887971793.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-528707562887971793.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-528707562887971793.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-528707562887971793.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-528707562887971793.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-528707562887971793.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-528707562887971793.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-528707562887971793.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-528707562887971793.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-528707562887971793.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-528707562887971793.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-528707562887971793.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-528707562887971793.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-528707562887971793.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-528707562887971793.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-528707562887971793.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-528707562887971793.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-528707562887971793.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-528707562887971793.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-528707562887971793.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-528707562887971793.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-528707562887971793.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-528707562887971793.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-528707562887971793.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-528707562887971793.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-528707562887971793.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-528707562887971793.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-528707562887971793.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-528707562887971793.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-528707562887971793.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-528707562887971793.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-528707562887971793.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-528707562887971793.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-528707562887971793.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-528707562887971793.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-528707562887971793.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-528707562887971793.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-528707562887971793.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-528707562887971793.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-528707562887971793.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-528707562887971793.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-528707562887971793.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-528707562887971793.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-528707562887971793.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-528707562887971793.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-528707562887971793.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-528707562887971793.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-528707562887971793.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-528707562887971793.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-528707562887971793.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-528707562887971793.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-528707562887971793.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-528707562887971793.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-528707562887971793.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-528707562887971793.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-528707562887971793.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-528707562887971793.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-528707562887971793 .gp-rotate-0,.gps-528707562887971793 .gp-rotate-180,.gps-528707562887971793 .mobile\:gp-rotate-0,.gps-528707562887971793 .mobile\:gp-rotate-180,.gps-528707562887971793 .tablet\:gp-rotate-0,.gps-528707562887971793 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-528707562887971793 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-528707562887971793 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-528707562887971793 .gp-invisible{visibility:hidden}.gps-528707562887971793 .gp-static{position:static}.gps-528707562887971793 .gp-absolute{position:absolute}.gps-528707562887971793 .\!gp-relative{position:relative!important}.gps-528707562887971793 .gp-relative{position:relative}.gps-528707562887971793 .gp-left-0{left:0}.gps-528707562887971793 .gp-right-0{right:0}.gps-528707562887971793 .gp-top-0{top:0}.gps-528707562887971793 .gp-z-0{z-index:0}.gps-528707562887971793 .gp-z-1{z-index:1}.gps-528707562887971793 .gp-z-\[90\]{z-index:90}.gps-528707562887971793 .\!gp-m-0{margin:0!important}.gps-528707562887971793 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-528707562887971793 .gp-my-0{margin-bottom:0;margin-top:0}.gps-528707562887971793 .gp-mb-0{margin-bottom:0}.gps-528707562887971793 .gp-block{display:block}.gps-528707562887971793 .\!gp-inline{display:inline!important}.gps-528707562887971793 .\!gp-flex{display:flex!important}.gps-528707562887971793 .gp-flex{display:flex}.gps-528707562887971793 .gp-inline-flex{display:inline-flex}.gps-528707562887971793 .gp-grid{display:grid}.gps-528707562887971793 .\!gp-hidden{display:none!important}.gps-528707562887971793 .gp-hidden{display:none}.gps-528707562887971793 .gp-aspect-square{aspect-ratio:1/1}.gps-528707562887971793 .gp-h-0{height:0}.gps-528707562887971793 .gp-h-5{height:20px}.gps-528707562887971793 .gp-h-full{height:100%}.gps-528707562887971793 .\!gp-min-h-full{min-height:100%!important}.gps-528707562887971793 .gp-w-5{width:20px}.gps-528707562887971793 .gp-w-\[12px\]{width:12px}.gps-528707562887971793 .gp-w-full{width:100%}.gps-528707562887971793 .\!gp-max-w-full{max-width:100%!important}.gps-528707562887971793 .gp-max-w-full{max-width:100%}.gps-528707562887971793 .gp-flex-none{flex:none}.gps-528707562887971793 .gp-shrink-0{flex-shrink:0}.gps-528707562887971793 .gp-rotate-0{--tw-rotate:0deg}.gps-528707562887971793 .gp-rotate-0,.gps-528707562887971793 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-528707562887971793 .gp-rotate-180{--tw-rotate:180deg}.gps-528707562887971793 .gp-cursor-default{cursor:default}.gps-528707562887971793 .gp-cursor-pointer{cursor:pointer}.gps-528707562887971793 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-528707562887971793 .\!gp-flex-row{flex-direction:row!important}.gps-528707562887971793 .gp-flex-row{flex-direction:row}.gps-528707562887971793 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-528707562887971793 .gp-flex-col{flex-direction:column}.gps-528707562887971793 .gp-flex-wrap{flex-wrap:wrap}.gps-528707562887971793 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-528707562887971793 .gp-items-start{align-items:flex-start}.gps-528707562887971793 .gp-items-center{align-items:center}.gps-528707562887971793 .gp-justify-start{justify-content:flex-start}.gps-528707562887971793 .gp-justify-center{justify-content:center}.gps-528707562887971793 .gp-justify-between{justify-content:space-between}.gps-528707562887971793 .gp-gap-2{gap:8px}.gps-528707562887971793 .gp-gap-y-0{row-gap:0}.gps-528707562887971793 .gp-overflow-hidden{overflow:hidden}.gps-528707562887971793 .gp-break-words{overflow-wrap:break-word}.gps-528707562887971793 .\!gp-rounded-none{border-radius:0!important}.gps-528707562887971793 .gp-rounded-full{border-radius:9999px}.gps-528707562887971793 .gp-rounded-none{border-radius:0}.gps-528707562887971793 .\!gp-pb-0{padding-bottom:0!important}.gps-528707562887971793 .gp-text-center{text-align:center}.gps-528707562887971793 .gp-leading-\[0\]{line-height:0}.gps-528707562887971793 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-528707562887971793 .gp-text-g-warning{color:var(--g-c-warning)}.gps-528707562887971793 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-528707562887971793 .gp-line-through{text-decoration-line:line-through}.gps-528707562887971793 .gp-no-underline{text-decoration-line:none}.gps-528707562887971793 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-528707562887971793 .gp-opacity-25{opacity:.25}.gps-528707562887971793 .gp-opacity-30{opacity:.3}.gps-528707562887971793 .gp-opacity-75{opacity:.75}.gps-528707562887971793 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-528707562887971793 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528707562887971793 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528707562887971793 .gp-duration-200{transition-duration:.2s}.gps-528707562887971793 .gp-duration-300{transition-duration:.3s}.gps-528707562887971793 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528707562887971793 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-528707562887971793 .hover\:gp-text-g-line-3:hover{color:var(--g-c-line-3)}}.gps-528707562887971793 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-528707562887971793 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-528707562887971793 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-528707562887971793 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-528707562887971793 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-528707562887971793 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-528707562887971793 .tablet\:gp-static{position:static}.gps-528707562887971793 .tablet\:gp-left-0{left:0}.gps-528707562887971793 .tablet\:gp-right-0{right:0}.gps-528707562887971793 .tablet\:gp-block{display:block}.gps-528707562887971793 .tablet\:\!gp-hidden{display:none!important}.gps-528707562887971793 .tablet\:gp-hidden{display:none}.gps-528707562887971793 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-528707562887971793 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-528707562887971793 .tablet\:gp-rotate-0,.gps-528707562887971793 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-528707562887971793 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-528707562887971793 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-528707562887971793 .tablet\:gp-flex-row{flex-direction:row}.gps-528707562887971793 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-528707562887971793 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-528707562887971793 .mobile\:gp-static{position:static}.gps-528707562887971793 .mobile\:gp-left-0{left:0}.gps-528707562887971793 .mobile\:gp-right-0{right:0}.gps-528707562887971793 .mobile\:gp-block{display:block}.gps-528707562887971793 .mobile\:\!gp-hidden{display:none!important}.gps-528707562887971793 .mobile\:gp-hidden{display:none}.gps-528707562887971793 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-528707562887971793 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-528707562887971793 .mobile\:gp-rotate-0,.gps-528707562887971793 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-528707562887971793 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-528707562887971793 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-528707562887971793 .mobile\:gp-flex-row{flex-direction:row}.gps-528707562887971793 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-528707562887971793 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-528707562887971793 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-528707562887971793 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-528707562887971793 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-528707562887971793 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1023px){.gps-528707562887971793 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-528707562887971793 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-528707562887971793 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-528707562887971793 .\[\&_p\]\:gp-inline p{display:inline}.gps-528707562887971793 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-528707562887971793 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-528707562887971793 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNJIQnUgxW" data-id="gNJIQnUgxW"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNJIQnUgxW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcQ1ZNWXaR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9jKOf1DlQ" data-id="g9jKOf1DlQ"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:48px;--pb:48px;--mb-mobile:21px;--pt-mobile:0px;--pb-mobile:32px;--pt-tablet:32px;--pb-tablet:32px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9jKOf1DlQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaFf_eS6qY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gqZydMmiPt" data-id="gqZydMmiPt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:70px;--pb:0px;--pr:70px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:28px;--pb-mobile:0px;--pr-mobile:28px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:32px;--pb-tablet:0px;--pr-tablet:32px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqZydMmiPt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxghpBHbec gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5M0AcX2dS" data-id="g5M0AcX2dS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:62px;--cg-tablet:20px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5M0AcX2dS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQ4xPiMigj gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gPip7tcxCZ"
    role="presentation"
    class="gp-group/image gPip7tcxCZ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:568/455;--aspect-tablet:568/455;--aspect-mobile:568/455;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-5c23e0dc-b3a7-44d1-a3a5-04e091925b59.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:568/455;--aspect-tablet:568/455;--aspect-mobile:568/455;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gPip7tcxCZ">
        .gPip7tcxCZ {

}
.gPip7tcxCZ > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQ2wm0pclT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTgdwqSbBv" data-id="gTgdwqSbBv"
        style="--b:solid;--bc:#D5E7E2;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--pt:32px;--pl:32px;--pb:32px;--pr:32px;--pt-mobile:18px;--pl-mobile:38px;--pb-mobile:18px;--pr-mobile:38px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#2B8570;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTgdwqSbBv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7dv2FDoCm gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gj0up3G4g7" data-id="gj0up3G4g7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pb:4px;--pb-mobile:2px;--cg:10px;--cg-mobile:7px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj0up3G4g7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4_stQAJ8r gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gc9yTXVQaM"
      
      data-id="gc9yTXVQaM"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:1px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g9F-ZOHVbo ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gyq36v17cu"
    >
      <div 
      data-id="gyq36v17cu"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:12px;--w-mobile:9px;--h:12px;--h-mobile:9px;--minw:12px;--minw-mobile:9px;--height-desktop:12px;--height-tablet:12px;--height-mobile:9px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFQxo4sgVy ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gFBdbPQUPU"
    >
      <div 
      data-id="gFBdbPQUPU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:12px;--w-mobile:9px;--h:12px;--h-mobile:9px;--minw:12px;--minw-mobile:9px;--height-desktop:12px;--height-tablet:12px;--height-mobile:9px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gY8dMai7aj ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gwgr91NgnE"
    >
      <div 
      data-id="gwgr91NgnE"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:12px;--w-mobile:9px;--h:12px;--h-mobile:9px;--minw:12px;--minw-mobile:9px;--height-desktop:12px;--height-tablet:12px;--height-mobile:9px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gonWE-6MaU ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g1CJpr3-UV"
    >
      <div 
      data-id="g1CJpr3-UV"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:12px;--w-mobile:9px;--h:12px;--h-mobile:9px;--minw:12px;--minw-mobile:9px;--height-desktop:12px;--height-tablet:12px;--height-mobile:9px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g4KO-lqPu5 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gI94sVcd6M"
    >
      <div 
      data-id="gI94sVcd6M"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:12px;--w-mobile:9px;--h:12px;--h-mobile:9px;--minw:12px;--minw-mobile:9px;--height-desktop:12px;--height-tablet:12px;--height-mobile:9px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxfVjoVesy gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gjTr0AQlZz">
    <div
      parentTag="Col"
        class="gjTr0AQlZz "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-528707562887971793.ggjTr0AQlZz_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gjTr0AQlZz">
        .gjTr0AQlZz {

}
.gjTr0AQlZz p {

}
      </style>
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="goScK4hsVo">
    <div
      parentTag="Col"
        class="goScK4hsVo "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Schibsted-Grotesk, 'Schibsted Grotesk'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:33px;--size-tablet:30px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-528707562887971793.ggoScK4hsVo_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gF_rbJbf4G" data-id="gF_rbJbf4G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--mb:16px;--pt:7px;--pl:13px;--pb:7px;--pr:13px;--mb-mobile:10px;--pt-mobile:8px;--pl-mobile:9px;--pb-mobile:8px;--pr-mobile:9px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(49, 95, 84, 0.5);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF_rbJbf4G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geuVdm0Bgm gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gBHIQibcmd">
    <div
      parentTag="Col"
        class="gBHIQibcmd "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-528707562887971793.ggBHIQibcmd_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gBHIQibcmd">
        .gBHIQibcmd {

}
.gBHIQibcmd p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="geAd95PDHV" data-id="geAd95PDHV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--cg-mobile:5px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geAd95PDHV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggTGrCOjuu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gayYd3-mwm"
    role="presentation"
    class="gp-group/image gayYd3-mwm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:27/27;--aspect-tablet:27/27;--aspect-mobile:20/20;--objf:cover;--w:27px;--w-tablet:27px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-6999d971-831e-4a69-abfc-e51f8094f19e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:27/27;--aspect-tablet:27/27;--aspect-mobile:20/20;--objf:cover;--w:27px;--w-tablet:27px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gayYd3-mwm">
        .gayYd3-mwm {

}
.gayYd3-mwm > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0FkG2LPRg gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g0Ei8hNfBw">
    <div
      parentTag="Col"
        class="g0Ei8hNfBw "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-528707562887971793.gg0Ei8hNfBw_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0Ei8hNfBw">
        .g0Ei8hNfBw {

}
.g0Ei8hNfBw p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--mb:10px;--mb-mobile:9px;--ta:left"
    
  >
    <style>
    .gfkyRi0CuJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gfkyRi0CuJ:hover::before {
      
      
    }

    .gfkyRi0CuJ:hover .gp-button-icon {
      color: undefined;
    }

     .gfkyRi0CuJ .gp-button-icon {
      color: #242424;
    }

    .gfkyRi0CuJ:hover .gp-button-price {
      color: undefined;
    }

    .gfkyRi0CuJ .gp-button-price {
      color: #242424;
    }

    .gfkyRi0CuJ .gp-product-dot-price {
       color: #242424;
    }

    .gfkyRi0CuJ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gfkyRi0CuJ" aria-label="Grab The Deal&nbsp;"
      
      data-state="idle"
      class="gfkyRi0CuJ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFCF60;--bg:#FFB300;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:38px;--h-tablet:38px;--h-mobile:31px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:#242424;--size:14px;--size-tablet:14px;--size-mobile:12px;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ "sections.gp-global-section-528707562887971793.ggfkyRi0CuJ_label_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gfkyRi0CuJ">
        button.gfkyRi0CuJ {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gAH425UmFt" data-id="gAH425UmFt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:10px;--cg:8px;--cg-mobile:5px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAH425UmFt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYhEShkv1Q gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gl_sAdr78O"
    role="presentation"
    class="gp-group/image gl_sAdr78O"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-251cd196-bc7e-4b4a-85e5-c76fee5832e9.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gl_sAdr78O">
        .gl_sAdr78O {

}
.gl_sAdr78O > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ga20NBZR3l gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFRn8n-f_R"
    role="presentation"
    class="gp-group/image gFRn8n-f_R"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:67/41;--aspect-tablet:67/41;--aspect-mobile:67/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-4226727c-cce7-4e0d-bc80-04a8b6f81918.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:67/41;--aspect-tablet:67/41;--aspect-mobile:67/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gFRn8n-f_R">
        .gFRn8n-f_R {

}
.gFRn8n-f_R > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gN6ZYebce3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYqwKPVpLa"
    role="presentation"
    class="gp-group/image gYqwKPVpLa"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-bb860bb2-f1a9-4be1-968f-f6a3c69cbec7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gYqwKPVpLa">
        .gYqwKPVpLa {

}
.gYqwKPVpLa > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goJKklY4By gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIy0yu0kx7"
    role="presentation"
    class="gp-group/image gIy0yu0kx7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-01b722e2-9e94-49d6-9814-728ab6f0b94a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gIy0yu0kx7">
        .gIy0yu0kx7 {

}
.gIy0yu0kx7 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2J3B5yn1Z gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ga-OuU59OM"
    role="presentation"
    class="gp-group/image ga-OuU59OM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_432750572815254551-a8103123-cb7d-4804-8da9-e646581aa151.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:68/41;--aspect-tablet:68/41;--aspect-mobile:68/41;--objf:cover;--w:33px;--w-tablet:33px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-ga-OuU59OM">
        .ga-OuU59OM {

}
.ga-OuU59OM > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gS9JcO2rfH" data-id="gS9JcO2rfH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--cg-mobile:4px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS9JcO2rfH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXAYDxcEJY gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gqIAD7YNF5"
    >
      <div 
      data-id="gqIAD7YNF5"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:10px;--h:14px;--h-mobile:10px;--minw:14px;--minw-mobile:10px;--height-desktop:14px;--height-tablet:14px;--height-mobile:10px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="515791950876509334" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_1314_1388)">
<path d="M6.50526 2.28875C5.43379 2.58404 4.36961 2.90514 3.31363 3.25175C3.21721 3.28298 3.13149 3.34067 3.06625 3.41824C3.00102 3.49581 2.95887 3.59015 2.94463 3.6905C2.32138 8.36713 3.76138 11.7793 5.47926 14.027C6.20659 14.9882 7.07384 15.835 8.05213 16.5391C8.44138 16.8136 8.78563 17.0116 9.05676 17.1388C9.19176 17.2029 9.30201 17.2456 9.38638 17.2715C9.42328 17.2844 9.46133 17.2939 9.50001 17.2996C9.53823 17.2934 9.57586 17.284 9.61251 17.2715C9.69801 17.2456 9.80826 17.2029 9.94326 17.1388C10.2133 17.0116 10.5586 16.8125 10.9479 16.5391C11.9262 15.835 12.7934 14.9882 13.5208 14.027C15.2386 11.7804 16.6786 8.36713 16.0554 3.6905C16.0413 3.5901 15.9992 3.49571 15.9339 3.41811C15.8687 3.34052 15.7829 3.28287 15.6864 3.25175C14.954 3.01213 13.7176 2.62175 12.4948 2.28987C11.246 1.95125 10.0974 1.70038 9.50001 1.70038C8.90376 1.70038 7.75401 1.95125 6.50526 2.28987V2.28875ZM6.20601 1.13C7.42663 0.798125 8.72376 0.5 9.50001 0.5C10.2763 0.5 11.5734 0.798125 12.794 1.13C14.0428 1.4675 15.3016 1.86687 16.0419 2.10875C16.3514 2.21096 16.6258 2.3984 16.8335 2.64954C17.0413 2.90068 17.174 3.20533 17.2164 3.5285C17.8869 8.56513 16.331 12.2979 14.4433 14.7673C13.6428 15.8236 12.6882 16.7538 11.6116 17.5269C11.2394 17.7944 10.8449 18.0296 10.4326 18.23C10.1176 18.3785 9.77901 18.5 9.50001 18.5C9.22101 18.5 8.88351 18.3785 8.56738 18.23C8.15508 18.0296 7.76065 17.7944 7.38838 17.5269C6.31179 16.7538 5.35729 15.8236 4.55676 14.7673C2.66901 12.2979 1.11313 8.56513 1.78363 3.5285C1.82603 3.20533 1.95873 2.90068 2.16649 2.64954C2.37425 2.3984 2.64863 2.21096 2.95813 2.10875C4.03272 1.75641 5.11566 1.43007 6.20601 1.13Z" fill="white"/>
<path d="M12.7114 6.29022C12.7638 6.34247 12.8054 6.40455 12.8337 6.47289C12.8621 6.54122 12.8767 6.61449 12.8767 6.68847C12.8767 6.76246 12.8621 6.83572 12.8337 6.90406C12.8054 6.9724 12.7638 7.03447 12.7114 7.08672L9.33644 10.4617C9.28419 10.5141 9.22212 10.5557 9.15378 10.584C9.08544 10.6124 9.01218 10.627 8.93819 10.627C8.8642 10.627 8.79094 10.6124 8.7226 10.584C8.65426 10.5557 8.59219 10.5141 8.53994 10.4617L6.85244 8.77422C6.80014 8.72193 6.75865 8.65984 6.73035 8.59151C6.70205 8.52317 6.68748 8.44994 6.68748 8.37597C6.68748 8.30201 6.70205 8.22877 6.73035 8.16044C6.75865 8.09211 6.80014 8.03002 6.85244 7.97772C6.90474 7.92543 6.96683 7.88394 7.03516 7.85564C7.10349 7.82733 7.17673 7.81276 7.25069 7.81276C7.32465 7.81276 7.39789 7.82733 7.46622 7.85564C7.53455 7.88394 7.59664 7.92543 7.64894 7.97772L8.93819 9.2681L11.9149 6.29022C11.9672 6.23784 12.0293 6.19628 12.0976 6.16792C12.1659 6.13956 12.2392 6.12497 12.3132 6.12497C12.3872 6.12497 12.4604 6.13956 12.5288 6.16792C12.5971 6.19628 12.6592 6.23784 12.7114 6.29022Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_1314_1388">
<rect width="18" height="18" fill="white" transform="translate(0.5 0.5)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdFsUrrAt7 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gG5WPK0Za5">
    <div
      parentTag="Col"
        class="gG5WPK0Za5 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-528707562887971793.ggG5WPK0Za5_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gG5WPK0Za5">
        .gG5WPK0Za5 {

}
.gG5WPK0Za5 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    {% render 'gp-section-528707562887971793-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format('woff');
}
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/JqzK5SSPQuCQF3t8uOwiUL-taUTtarVKQ9vZ6pJJWlMNIsEwSMhp.woff) format('woff');
}
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/JqzK5SSPQuCQF3t8uOwiUL-taUTtarVKQ9vZ6pJJWlMNxcYwSMhp.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/Jqz55SSPQuCQF3t8uOwiUL-taUTtap9IayojdSFOd1I.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/Jqz55SSPQuCQF3t8uOwiUL-taUTtap9GayojdSFO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/Jqz55SSPQuCQF3t8uOwiUL-taUTtap9IayojdSFOd1I.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/schibstedgrotesk/v3/Jqz55SSPQuCQF3t8uOwiUL-taUTtap9GayojdSFO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "Section - Aug 26 16:17:40" }],
    "name": "Section - Aug 26 16:17:40",
    "tag": "section",
    "class": "gps-528707562887971793 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cat-person-vn/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=528707562887971793)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{"ggjTr0AQlZz_text_html":"<p>Over 15,000 Five Star Reviews!</p>","ggoScK4hsVo_text_html":"<strong><u>Get 30% off</u></strong> Purrfect Pt for cats now!","ggBHIQibcmd_text_html":"<p>\"My cat absolutely loves this pate! It's the perfect texture and she devours it every time. Highly recommend!\"</p>","gg0Ei8hNfBw_text_html":"<p><strong>Emily </strong>/ Customer</p>","ggfkyRi0CuJ_label_html":"Grab The Deal&nbsp;","ggG5WPK0Za5_text_html":"<p>30-day money-back guarantee included&nbsp;</p>","ggL35kx4dlJ_text_html":"<p>What Our Customers Are Saying</p>","ggry9dCN3zl_text_html":"<p>Our customer advocates are standing by 24/7 to support you via email.</p>","ggrx7AkC398_text_html":"<p>Rita Carroll</p>","ggJKjrO5DiY_text_html":"<p>\"Love it! Great for summer! Good taste, it really owns up to its name sparkling, cold with bubbles and lime flavor. When I want that soda feel without drinking a soda, I grab for one of this.\"</p>","ggnLg3ossYv_label_html":"Buy Now","ggnLg3ossYv_outOfStockLabel_html":"Out of stock","gggRYKtly9A_text_html":"<p>Olivia Rowse</p>","ggYqpbYvkxy_text_html":"<p>\"I have been looking for this flavor online for like ever and I am so happy that I found it finally! Im so in love with this,&nbsp;it really is a great tasting water, super fast shipping.&nbsp;</p><p>Thanks.\"</p>","ggPP0EQqvzG_label_html":"Buy Now","ggPP0EQqvzG_outOfStockLabel_html":"Out of stock","ggEWtCQS0gJ_text_html":"<p>Timothy Joseph</p>","ggpAXa6J1Py_text_html":"<p>\"This drink has become one of my favorite things, and I haverecommended it to a lot of people. It gives me lots of energy, the flavor is really refreshing&nbsp;<br>and delicious.\"</p>","ggq9_QMRz7m_label_html":"Buy Now","ggq9_QMRz7m_outOfStockLabel_html":"Out of stock","gg3JS9lDSnq_text_html":"<p>Rita Carroll</p>","gg8PpDWcDGq_text_html":"<p>\"Love it! Great for summer! Good taste, it really owns up to its name sparkling, cold with bubbles and lime flavor. When I want that soda feel without drinking a soda, I grab for one of this.\"</p>","ggU8_3iNaCg_label_html":"Buy Now","ggU8_3iNaCg_outOfStockLabel_html":"Out of stock"}}
  }
{% endschema %}
