

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-528708194533377047.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-528708194533377047.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-528708194533377047.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-528708194533377047.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-528708194533377047.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-528708194533377047.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-528708194533377047.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-528708194533377047.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-528708194533377047.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-528708194533377047.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-528708194533377047.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-528708194533377047.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-528708194533377047.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-528708194533377047.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-528708194533377047.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-528708194533377047.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-528708194533377047.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-528708194533377047.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-528708194533377047.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-528708194533377047.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-528708194533377047.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-528708194533377047.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-528708194533377047.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-528708194533377047.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-528708194533377047.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-528708194533377047.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-528708194533377047.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-528708194533377047.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-528708194533377047.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-528708194533377047.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-528708194533377047.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-528708194533377047.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-528708194533377047.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-528708194533377047.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-528708194533377047.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-528708194533377047.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-528708194533377047.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-528708194533377047.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-528708194533377047.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-528708194533377047.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-528708194533377047.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-528708194533377047.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-528708194533377047.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-528708194533377047.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-528708194533377047.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-528708194533377047.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-528708194533377047.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-528708194533377047.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-528708194533377047.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-528708194533377047.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-528708194533377047.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-528708194533377047.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-528708194533377047.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-528708194533377047.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-528708194533377047.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-528708194533377047.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-528708194533377047.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-528708194533377047.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-528708194533377047.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-528708194533377047.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-528708194533377047.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-528708194533377047.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-528708194533377047.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-528708194533377047.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-528708194533377047.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-528708194533377047 .gp-relative{position:relative}.gps-528708194533377047 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-528708194533377047 .gp-mb-0{margin-bottom:0}.gps-528708194533377047 .\!gp-inline{display:inline!important}.gps-528708194533377047 .gp-flex{display:flex}.gps-528708194533377047 .gp-grid{display:grid}.gps-528708194533377047 .\!gp-hidden{display:none!important}.gps-528708194533377047 .gp-hidden{display:none}.gps-528708194533377047 .gp-h-full{height:100%}.gps-528708194533377047 .gp-w-full{width:100%}.gps-528708194533377047 .gp-max-w-full{max-width:100%}.gps-528708194533377047 .gp-flex-col{flex-direction:column}.gps-528708194533377047 .gp-gap-y-0{row-gap:0}.gps-528708194533377047 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528708194533377047 .gp-duration-200{transition-duration:.2s}.gps-528708194533377047 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-528708194533377047 .tablet\:\!gp-hidden{display:none!important}.gps-528708194533377047 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-528708194533377047 .mobile\:\!gp-hidden{display:none!important}.gps-528708194533377047 .mobile\:gp-hidden{display:none}}.gps-528708194533377047 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-528708194533377047 .\[\&_p\]\:gp-inline p{display:inline}.gps-528708194533377047 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-528708194533377047 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7EBn47uYk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:48px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:42px;--pl-mobile:15px;--pb-mobile:42px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7EBn47uYk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIT_PlEakG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gOY6viFYjs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--ml:auto;--mb:0px;--mr:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1320px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOY6viFYjs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gW-k9FLZo7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gp4igB__Xi "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:48px;--mb-mobile:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggp4igB__Xi_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="ghhnTLNchc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:14px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghhnTLNchc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwDLKyiPoG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6Bjpa6PYl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:28px;--mb-tablet:32px;--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6Bjpa6PYl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOTyjUlHD0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gjpc642HwF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528707216203580438-2eaffedb-eaff-41b9-bd7d-8822f8c54a38.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_528707216203580438-2eaffedb-eaff-41b9-bd7d-8822f8c54a38.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFeXic4uwi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFdINZ2u4Z "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:4px;--mb-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFdINZ2u4Z_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gqdVWaAlog "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqdVWaAlog_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVft6cR-hh gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gc7_0GvNgI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:28px;--mb-tablet:32px;--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc7_0GvNgI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsnegXouJB gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g0Cz5H85yk"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528707216203580438-9d62ed4b-dab7-43d4-b803-34e40c0f2fc2.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_528707216203580438-9d62ed4b-dab7-43d4-b803-34e40c0f2fc2.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZA-nspFWf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gytZUS7vAS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:4px;--mb-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggytZUS7vAS_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g8IESRPWVW "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8IESRPWVW_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVSGFUAp6L gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2pcHYuu6X"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:28px;--mb-tablet:32px;--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2pcHYuu6X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gD9zM6xJd1 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g85D-Hpn9f"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528707216203580438-6b8cfeec-4291-4fab-9ee7-fc2773e6ddde.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_528707216203580438-6b8cfeec-4291-4fab-9ee7-fc2773e6ddde.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gttUMhxxmk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7gbLhFnpf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:4px;--mb-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7gbLhFnpf_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gLLGzvdiUE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLLGzvdiUE_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-528708194533377047 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cat-person-vn/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=528707217411670807&sectionId=528708194533377047)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggp4igB__Xi_text","label":"ggp4igB__Xi_text","default":"How all this mistaken idea"},{"type":"html","id":"ggFdINZ2u4Z_text","label":"ggFdINZ2u4Z_text","default":"<p>FREE Shipping all days</p>"},{"type":"html","id":"ggqdVWaAlog_text","label":"ggqdVWaAlog_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>"},{"type":"html","id":"ggytZUS7vAS_text","label":"ggytZUS7vAS_text","default":"<p>60-Day Easy Returns and Exchanges</p>"},{"type":"html","id":"gg8IESRPWVW_text","label":"gg8IESRPWVW_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>"},{"type":"html","id":"gg7gbLhFnpf_text","label":"gg7gbLhFnpf_text","default":"<p>Fast Customer Support</p>"},{"type":"html","id":"ggLLGzvdiUE_text","label":"ggLLGzvdiUE_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
