

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-528708297042166806.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-528708297042166806.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-528708297042166806.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-528708297042166806.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-528708297042166806.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-528708297042166806.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-528708297042166806.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-528708297042166806.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-528708297042166806.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-528708297042166806.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-528708297042166806.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-528708297042166806.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-528708297042166806.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-528708297042166806.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-528708297042166806.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-528708297042166806.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-528708297042166806.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-528708297042166806.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-528708297042166806.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-528708297042166806.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-528708297042166806.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-528708297042166806.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-528708297042166806.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-528708297042166806.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-528708297042166806.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-528708297042166806.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-528708297042166806.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-528708297042166806.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-528708297042166806.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-528708297042166806.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-528708297042166806.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-528708297042166806.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-528708297042166806.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-528708297042166806.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-528708297042166806.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-528708297042166806.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-528708297042166806.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-528708297042166806.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-528708297042166806.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-528708297042166806.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-528708297042166806.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-528708297042166806.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-528708297042166806.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-528708297042166806.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-528708297042166806.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-528708297042166806.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-528708297042166806.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-528708297042166806.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-528708297042166806.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-528708297042166806.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-528708297042166806.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-528708297042166806.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-528708297042166806.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-528708297042166806.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-528708297042166806.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-528708297042166806.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-528708297042166806.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-528708297042166806.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-528708297042166806.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-528708297042166806.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-528708297042166806.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-528708297042166806.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-528708297042166806.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-528708297042166806.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-528708297042166806.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-528708297042166806.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-528708297042166806.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-528708297042166806.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-528708297042166806.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-528708297042166806.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-528708297042166806.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-528708297042166806.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-528708297042166806.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-528708297042166806.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-528708297042166806.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-528708297042166806.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-528708297042166806.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-528708297042166806.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-528708297042166806.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-528708297042166806.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-528708297042166806 .focus\:\!gp-shadow-none,.gps-528708297042166806 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-528708297042166806 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-528708297042166806 .gp-fixed{position:fixed}.gps-528708297042166806 .gp-relative{position:relative}.gps-528708297042166806 .gp-top-\[27px\]{top:27px}.gps-528708297042166806 .gp-z-1{z-index:1}.gps-528708297042166806 .gp-z-100{z-index:100}.gps-528708297042166806 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-528708297042166806 .gp-mb-0{margin-bottom:0}.gps-528708297042166806 .\!gp-inline{display:inline!important}.gps-528708297042166806 .gp-flex{display:flex}.gps-528708297042166806 .gp-inline-flex{display:inline-flex}.gps-528708297042166806 .gp-grid{display:grid}.gps-528708297042166806 .\!gp-hidden{display:none!important}.gps-528708297042166806 .gp-hidden{display:none}.gps-528708297042166806 .\!gp-h-auto{height:auto!important}.gps-528708297042166806 .gp-h-full{height:100%}.gps-528708297042166806 .gp-w-full{width:100%}.gps-528708297042166806 .gp-max-w-full{max-width:100%}.gps-528708297042166806 .gp-shrink-0{flex-shrink:0}.gps-528708297042166806 .gp-flex-col{flex-direction:column}.gps-528708297042166806 .gp-items-center{align-items:center}.gps-528708297042166806 .gp-justify-center{justify-content:center}.gps-528708297042166806 .gp-gap-y-0{row-gap:0}.gps-528708297042166806 .gp-overflow-hidden{overflow:hidden}.gps-528708297042166806 .gp-break-words{overflow-wrap:break-word}.gps-528708297042166806 .gp-rounded{border-radius:4px}.gps-528708297042166806 .gp-rounded-none{border-radius:0}.gps-528708297042166806 .\!gp-bg-none{background-image:none!important}.gps-528708297042166806 .gp-p-\[16px\]{padding:16px}.gps-528708297042166806 .gp-text-\[14px\]{font-size:14px}.gps-528708297042166806 .gp-leading-normal{line-height:1.5}.gps-528708297042166806 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-528708297042166806 .gp-no-underline{text-decoration-line:none}.gps-528708297042166806 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-528708297042166806 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528708297042166806 .gp-duration-200{transition-duration:.2s}.gps-528708297042166806 .gp-duration-300{transition-duration:.3s}.gps-528708297042166806 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528708297042166806 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-528708297042166806 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-528708297042166806 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-528708297042166806 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-528708297042166806 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-528708297042166806 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-528708297042166806 .tablet\:\!gp-hidden{display:none!important}.gps-528708297042166806 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-528708297042166806 .mobile\:\!gp-hidden{display:none!important}.gps-528708297042166806 .mobile\:gp-hidden{display:none}}.gps-528708297042166806 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-528708297042166806 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-528708297042166806 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-528708297042166806 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-528708297042166806 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-528708297042166806 .\[\&_p\]\:gp-inline p{display:inline}.gps-528708297042166806 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-528708297042166806 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-528708297042166806 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKZc4-ecpV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pt-mobile:var(--g-s-4xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKZc4-ecpV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guQM4VeBmo gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gM3hKNhAGm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-tablet:var(--g-s-3xl);--pl-tablet:15px;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 6fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM3hKNhAGm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKHOMMoMtf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g06jRU9c5U"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pr:40px;--mb-mobile:var(--g-s-3xl);--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g06jRU9c5U gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goXAH0_0kW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gf3KJXgtNP "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggf3KJXgtNP_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gGXmijPMIH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:var(--g-s-xl);--mb-tablet:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGXmijPMIH_text }}</div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="gh8sfAtmkl ">
      
    <gp-form
      id="gh8sfAtmkl"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gh8sfAtmkl"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gh8sfAtmkl ', id: 'contact_form_gh8sfAtmkl' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gh8sfAtmkl"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggh8sfAtmkl_errorMessage }}
          </div>
        {% endif %}
        <div
          id="gp-form-success-gh8sfAtmkl"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggh8sfAtmkl_successMessage }}
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gdhRHnClBF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdhRHnClBF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEZ1eb6V8V gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="g-58FzZvZe"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:28px;--pr:28px;--pt:10px;--pb:10px;--w:313px;--w-tablet:100%;--w-mobile:313px;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.gg-58FzZvZe_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3sd-NUe55 gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    
  >
    <style>
    .gcJno2Lzdl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gcJno2Lzdl:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gcJno2Lzdl:hover .gp-button-icon {
      color: undefined;
    }

     .gcJno2Lzdl .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gcJno2Lzdl:hover .gp-button-price {
      color: undefined;
    }

    .gcJno2Lzdl .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gcJno2Lzdl .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gcJno2Lzdl:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gcJno2Lzdl" aria-label
      
      data-state="idle"
      class="gcJno2Lzdl gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-g-paragraph-1"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--pl:15px;--pr:15px;--pt:15px;--pb:15px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14.5px;--pb-mobile:14.5px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYZjsSxDu7 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqVOnMTQrC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqVOnMTQrC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGZU043VQk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwa_bAlWzq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwa_bAlWzq_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gkThAMIe0B "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkThAMIe0B_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gtJTKwh8Mn "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtJTKwh8Mn_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="geFHnm-Xfv "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeFHnm-Xfv_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glhkfCBG3Q "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglhkfCBG3Q_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-vumEyZFy gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gvJQjF4UoX "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvJQjF4UoX_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g63qCUMdJA "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg63qCUMdJA_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ghimQ5wk6f "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghimQ5wk6f_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gC2oiz2V-F "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggC2oiz2V-F_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYpEufGkoT "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYpEufGkoT_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDESkYtKou gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6h3H1GOMO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6h3H1GOMO_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYFJAKZ3zB "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYFJAKZ3zB_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvfE2Hcgba "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvfE2Hcgba_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g34llAm6V6 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg34llAm6V6_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g4kZumqoOS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4kZumqoOS_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gbKY5NgS7X"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl-tablet:15px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbKY5NgS7X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjEiZn5OUy gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQehoxZmFh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQehoxZmFh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glyASB1G04 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmxEGBhIkz "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggmxEGBhIkz_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="go_1sz3e6S gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gfmGc-xn1o"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:right;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528707216203580438-4a09838a-742b-435a-95d7-9dadb258e7a5.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:594/63;--aspect-tablet:594/63;--aspect-mobile:594/63;--objf:fill;--w:250px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_528707216203580438-4a09838a-742b-435a-95d7-9dadb258e7a5.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:594/63;--aspect-tablet:594/63;--aspect-mobile:594/63;--objf:fill;--w:250px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-528708297042166806 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cat-person-vn/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=528707217411670807&sectionId=528708297042166806)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggf3KJXgtNP_text","label":"ggf3KJXgtNP_text","default":"<p>Let’s stay in touch</p>"},{"type":"html","id":"ggGXmijPMIH_text","label":"ggGXmijPMIH_text","default":"<p>We’ll shout you $10 off your first order</p>"},{"type":"html","id":"ggh8sfAtmkl_successMessage","label":"ggh8sfAtmkl_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggh8sfAtmkl_errorMessage","label":"ggh8sfAtmkl_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"gg-58FzZvZe_placeholder","label":"gg-58FzZvZe_placeholder","default":"Enter your email"},{"type":"html","id":"ggwa_bAlWzq_text","label":"ggwa_bAlWzq_text","default":"<p>Company</p>"},{"type":"html","id":"ggkThAMIe0B_text","label":"ggkThAMIe0B_text","default":"<p><a href=\"#\">About</a></p>"},{"type":"html","id":"ggtJTKwh8Mn_text","label":"ggtJTKwh8Mn_text","default":"<p><a href=\"#\">Contact</a></p>"},{"type":"html","id":"ggeFHnm-Xfv_text","label":"ggeFHnm-Xfv_text","default":"<p><a href=\"#\">Shipping &amp; Return</a></p>"},{"type":"html","id":"gglhkfCBG3Q_text","label":"gglhkfCBG3Q_text","default":"<p><a href=\"#\">FAQs</a></p>"},{"type":"html","id":"ggvJQjF4UoX_text","label":"ggvJQjF4UoX_text","default":"<p>Information</p>"},{"type":"html","id":"gg63qCUMdJA_text","label":"gg63qCUMdJA_text","default":"<p><a href=\"#\">My Account</a></p>"},{"type":"html","id":"gghimQ5wk6f_text","label":"gghimQ5wk6f_text","default":"<p><a href=\"#\">Login</a></p>"},{"type":"html","id":"ggC2oiz2V-F_text","label":"ggC2oiz2V-F_text","default":"<p><a href=\"#\">My Cart</a></p>"},{"type":"html","id":"ggYpEufGkoT_text","label":"ggYpEufGkoT_text","default":"<p><a href=\"#\">Checkout</a></p>"},{"type":"html","id":"gg6h3H1GOMO_text","label":"gg6h3H1GOMO_text","default":"<p>Follow us</p>"},{"type":"html","id":"ggYFJAKZ3zB_text","label":"ggYFJAKZ3zB_text","default":"<p><a href=\"#\">Facebook</a></p>"},{"type":"html","id":"ggvfE2Hcgba_text","label":"ggvfE2Hcgba_text","default":"<p><a href=\"#\">Twitter</a></p>"},{"type":"html","id":"gg34llAm6V6_text","label":"gg34llAm6V6_text","default":"<p><a href=\"#\">Instagram</a></p>"},{"type":"html","id":"gg4kZumqoOS_text","label":"gg4kZumqoOS_text","default":"<p><a href=\"#\">Youtube</a></p>"},{"type":"html","id":"ggmxEGBhIkz_text","label":"ggmxEGBhIkz_text","default":"<p>Copyright © 2022 GemThemes. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
